* {
    font-family: "Share Tech Mono", monospace;
    font-size: 22px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
select {
    background-color: transparent;
    width: 50%;
    cursor: pointer;
    padding: 5px;
    text-transform: uppercase;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(snow, white);
    height: 100vh;
    padding-top: 50px;
}
#result {
    border: 1px solid gray;
    width: 50%;
    padding: 30px;
}
#result p:last-of-type {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}
button[name="reset"] {
    padding: 10px;
    margin-top: 10px;
    -webkit-box-shadow: -8px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 7px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -8px 7px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
h1 {
    font-size: 200%;
}
